
<!-- Dashboard View -->
<div class="dashboard-container mx-auto">
  <!-- Section for Existing Posts -->
  <h2 class="section-title">Your Published Posts</h2>
  
  {{#if posts.length}}
  {{#each posts as |article|}}
  <div class="post-card mb-3 mx-auto">
    <div class="post-content">
      <h5 class="post-header"><a href="/article/{{article.id}}">{{article.title}}</a></h5>
      <p class="post-description">{{article.contents}}</p>
    </div>
  </div>
  {{/each}}
  {{else}}
  <h5 class="empty-posts-message"> No Posts Available </h5>
  <br>
  {{/if}}

  <!-- Section for Creating a New Post -->
  <h2 class="section-title">Compose a New Post</h2>
  <form class="new-post-form mx-auto">
    <!-- Field for Post Title -->
    <div class="form-section mt-3">
      <p for="title">Title:</p>
      <input class="form-input" type="text" id="title" />
    </div>
    <!-- Field for Post Content -->
    <div class="form-section mt-3">
      <p for="contents">Content:</p>
      <textarea class="form-input" id="contents" rows="5" cols="64"></textarea>
    </div>
    <!-- Button to Submit New Post -->
    <div class="form-section mt-3">
      <button id="submit-post-btn" class="btn btn-primary" type="submit">Publish Post</button>
    </div>
  </form>
  <script src="/js/dashboardPostCreation.js"></script>
</div>
