<!-- User Login -->
<div class="login-container">
  <div class="login-card mx-auto">
    <h2 id="login-header">Sign-In Page</h2>

    <form class="user-login-form">

      <div class="input-group mt-3">
        <label for="user-username">Username:</label>
        <input class="form-field" type="text" id="user-username" />
      </div>

      <div class="input-group mt-3">
        <label for="user-password">Password:</label>
        <input class="form-field" type="password" id="user-password" />
      </div>

      <div class="input-group mt-3">
        <button id="sign-in-btn" class="btn btn-primary" type="submit">Sign In</button>
      </div>

    </form>

    <div class="register-link">
      <br>
      <a href="/signup">New here? Sign up!</a>
    </div>

  </div>

  <script src="./js/userSignIn.js"></script>
</div>
