<!-- Registration Page -->
<div class="user-form w-50 col-md-8 mx-auto">

  <h2 id="page-heading">Register</h2>

  <form class="form registration-form">

    <div class="input-group mt-3">
      <label for="user-alias-register">User Alias:</label>
      <input class="form-control" type="text" id="user-alias-register" />
    </div>

    <div class="input-group mt-3">
      <label for="password-register">Password:</label>
      <input class="form-control" type="password" id="password-register" />
      <small class="form-text text-muted">Password should contain at least 7 characters.</small>
    </div>

    <div class="input-group mt-3">
      <button id="register-button" class="btn btn-primary" type="submit">Sign Up</button>
    </div>

  </form>

</div>

<script src="./js/register.js"></script>
